/*.red-square {
  background: #ff000080;
  position: absolute;
}

.blue-square {
  background: #3232af80;
  position: absolute;
}*/

.purple-marker {
  filter: brightness(0.4) hue-rotate(260deg);
}

.orange-marker {
  
}

.purple-marker-legend {
  color: #612073;
  position: absolute;
  opacity: 1 !important;
}

.orange-marker-legend {
  color: #F97912;
  position: absolute;
  opacity: 1 !important;
}
/*
.purple-children-marker {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border: 1px solid red;
  background-color: rgba(128, 0, 128, 0.5); 
  pointer-events: none; 
  border-radius: 4px;
}

.yellow-children-marker {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  color: yellow;
}
*/

.marker-outline {
  color: black;
}

.legend-custom-row {
  margin: 5px;
}

.legend-circle {
  margin-top:2px;
  scale:1.5;
}

.data-update-text {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  text-align: center;
  font-size: medium;
}

.download-data-btn {
  background: #48999e;
  /*visibility: hidden;*/
}

.download-data-btn:hover {
  background: #264d4f;
}