.red-square {
  background: #ff000080;
  position: absolute;
}

.blue-square {
  background: #3232af80;
  position: absolute;
}

.purple-marker {
  color: purple;
  position: absolute;
}

.orange-marker {
  color: orange;
  position: absolute;
}

.yellow-marker {
  color: yellow;
  position: absolute;
}

.marker-outline {
  color: black;
}

.legend-custom-row {
  margin: 5px;
}

.legend-circle {
  margin-top:2px;
  scale:1.5;
}

.data-update-text {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  text-align: center;
  font-size: medium;
}

.download-data-btn {
  background: #48999e;
  visibility: hidden;
}

.download-data-btn:hover {
  background: #264d4f;
}